.partners--category {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.partners--section {
    padding-bottom: 3rem;
}

.partner__img {
    max-width: 165px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.partner--block {
    display: inline-block;
    filter: grayscale(100%);
    width: 175px;
    height: 175px;
    background-color: #e8e8e8;
    border-radius: 10px;
    position: relative;
    margin: .3rem;
}

.partner--block a{
    height: 100%;
    width: 100%;
}

.partner--block:hover{
    filter: none;
}