.slider {
    padding: 5rem 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.slider-content {
    border-radius: 10px;
    width: 690px;
    height: 200px;
    border: 2px solid #599cd3;
    margin: 0 .8rem;
    display: flex;
    color: #171717;
}

.slider__control-button {
    background-color: rgba(0,0,0,0);
    width: 78px;
    height: 78px;
    box-sizing: border-box;
    color: #599cd3;
    border: none;
    font-size: 4rem;
    font-weight: 100;
    cursor: pointer;
}

.slider__control-button:hover{
    background-color: #599bd5;
    color: #fff; ;
}

.slider__control-button > *{
    margin-top: -12px;
}

.slider-content__photo {
    padding: 1rem 2rem;
}

.slider-feedback {
    padding: 3rem 1rem 1rem;
    overflow: scroll;
}

.slider-feedback,
.slider-content__photo {
    display: inline-block
}

.slider-content__photo__img {
    max-width: 125px;
    text-align: center;
    border-radius: 10px;
}

.slider-feedback__title {
    color: #68a4d6;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.slider-content__person-info {
    font-size: .7rem;
    text-transform: uppercase;
    margin-top: .7rem;
    line-height: .9rem;
}

.slider-content__person-info__career {
    text-transform: none;
    font-style: italic;
}

.slider-feedback__paragraph {
    line-height: 1.3rem;
}

.animate-sliding{
    animation: fadeInSlide 500ms ease-in-out;
}

@keyframes fadeInSlide {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

@media all and (max-width: 410px){
    .slider__control-button--left{
        width: 39px;
        height: 39px;
        font-size: 2rem;
        margin-right: -43px;
    }
    .slider__control-button--right{
        width: 39px;
        height: 39px;
        font-size: 2rem;
        margin-left: -43px;
    }
    .slider__control-button > *{
        margin-top: -6px;
    }
}