.footer-section {
    background-color: #27597a;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 5rem 0;
    justify-content: center;

}

.footer-section__title {
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer-section__group {
    width: 300px;
    margin: 5rem 2.5rem 0 0;
}

.footer-section__paragraph {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 200;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
    color: #69bae5;
}

.footer-section__payment-item {
    display: inline-block;
    filter: grayscale(100%);
    margin: 0 .3rem .3rem 0;
}

.footer-section__payment-item:hover {
    filter: none;
}

.footer-section__email-input {
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: 6px;
    border: none;
    margin-bottom: 1rem;
}