.information-bar {
    width: 100%;
    background-color: #001f3f;
    text-align: center;
}

.information-bar > * {
    display: inline-block;
    margin: .7rem 4rem;
}

.information-bar__amount {
    font-size: 2.5rem;
}
