.become-partner {
    background-color: #326081;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.become-partner--title {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 4rem;
}


