.become-speaker-section {
    background-color: #326081;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.become-speaker-section__title {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 4rem;
}

@media all and (max-width: 624px){
    .become-speaker-section__title {
        margin: auto 4rem 1rem 4rem;
        text-align: center;
    }
}

