.header--text-description > h1 {
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 2.5rem auto;
    line-height: 1.3;
}

.header--text-description > h2 {
    line-height: 1.6;
}

.header {
    padding: 3rem 0;
    color: white;
    text-align: center;
    background-color: #2e2e2e;
}

.header--themes-section {
    display: flex;
    justify-content: center;
}

.header--themes-section > * {
    display: inline-block;
    margin-right: 1rem;
}

.header--themes-section figure {
    width: 120px;
    text-align: center;
}

.header--themes-section figure img {
    width: 60px;
    cursor: pointer;
}

.header--themes-section figcaption {
    word-spacing: 120px;
    font-size: 0.8rem;
}

