.accommodation-section {
    padding-bottom: 4rem;
}

.accommodation-items {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accommodation-items__item {
    margin: 0 1.4rem 3rem 0;
}

.accommodation-items__item-icon {
    background-color: #336182;
    width: 85px;
    height: 85px;
    border-radius: 50rem;
    margin: 0 auto 1.7rem auto;
    line-height: 85px;
    color: #fff;
    font-size: 1.8rem;
}

.accommodation-items__item-name {
    margin-bottom: .6rem;
}

.accommodation-items__item-description {
    color: #569cbe;
    text-decoration: none;
}

.accommodation-items__item-description:hover {
    text-decoration: underline;
}


