.flow-card {
    display: inline-flex;
    width: 280px;
    height: 365px;
    border: 2px solid #898989;
    margin: 1rem 1rem 1rem 0;
    text-align: left;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.flow-card-content__moderator-info,
.flow-card-header {
    display: flex;
}

.flow-card-header__title {
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: top;
    margin: 1rem 0 0 2rem;
    line-height: 1.3rem;
}

.flow-card-content__moderator-img {
    max-width: 46px;
    max-height: 46px;
    border-radius: 5px;
    margin-right: .5rem;
}

.flow-card-content__moderator {
    padding-bottom: .9rem;
    background-color: #ddd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.flow-card-header,
.flow-card-content__moderator,
.flow-card-content {
    padding-left: .9rem;
    padding-right: .9rem;
}

.flow-card-header{
    padding-top: .9rem;
}

.skype-icon {
    margin-right: .3rem;
}

.flow-card-content__moderator-title {
    margin: 1rem 0 .5rem;
    letter-spacing: normal;
}

.flow-card-content__moderator-contacts {
    font-size: .9rem;
    line-height: 1rem;
}

@media screen and (max-width: 599px) {
    .flow-card{
        background-color: #fff;
        margin: 1rem;
    }
}