.tree-view__item a {
    padding-right: 55%;
    padding-top: 5%;
}

.tree-view__item:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .09);
}

.tree-view__item {
    padding: 0 .3rem .2rem;
    display: block;
    margin-bottom: 2px;
}

.tree-view__children {
    margin-left: .8rem;
}

.tree-view__children--collapsed {
    height: 0;
}

.tree-view__arrow {
    -moz-transition: all .1s;
    -o-transition: all .1s;
    -ms-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.tree-view__arrow {
    cursor: pointer;
    margin-right: .5rem;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tree-view__arrow:after {
    content: '▾';
    font-size: 1.4rem;
}

.tree-view__arrow--no-nested-elements.tree-view__arrow:after {
    opacity: 0;
}

.tree-view__arrow--collapsed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
