.tabs {
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
}

.tabs--labels {
    text-align: center;
    padding: 1.8rem 0;
}

.tabs--labels li {
    display: inline-block;
    margin-right: 1.5rem;
}

.tabs--labels li a {
    padding: .8rem 1rem;
    font-size: 1rem;
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.tabs--labels li a.active {
    border-radius: 6px;
}

.tabs--content {
    padding: 0 1rem 3.4rem 1rem;
}

.tabs,
.tabs--labels li a.active {
    border: 2px solid #898989;
}
