.events-section {
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    padding: 4.4rem 0 4.4rem 0;
}

.event {
    width: 215px;
}

.even--name{
    margin-top: .9rem;
}
.events-row {
    max-width: 800px;
    margin: 0 auto 4.4rem auto;
    display: flex;
    justify-content: space-around;
}

