.main-speakers {
    max-width: 800px;
    margin: 0 auto 6.7rem auto;
    font-size: .8rem;
    line-height: 1.3;
    text-align: center;
}

.main-speakers--info,
.main-speakers,
.main-speakers--photo-section {
    box-sizing: border-box;
}

.main-speakers--photo-section,
.main-speakers--info {
    max-width: 200px;
    height: 200px;
}

.main-speakers--photo-section {
    position: relative;
    display: inline-block;
    margin-top: -4px;
}

.main-speakers--name {
    font-size: 1rem;
}

.main-speakers--info {
    display: block;
    background: rgba(89, 155, 213, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    padding: .5rem;
    opacity: 0;
    transition: opacity 500ms;
    text-align: justify;
}

.main-speakers--info:hover {
    opacity: 1;
    cursor: pointer;
}
