.category-label{
    width: 220px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.category-label:nth-of-type(odd){
    margin-right: .5rem;
}

.category-label__name {
    border-radius: 10px;
    color: #fff;
    font-size: .9rem;
    height: 50px;
    margin: auto;
   line-height: 50px;
}

.category-label__location {
    font-size: 1.1rem;
    padding: 1rem .2rem;
}

.categories-labels-wrapper {
    text-align: center;
}