.schedule-closed-event {
    background-color: #e3e3e3;
    display: flex;
    border-radius: 10px;
    margin-bottom: 1px;
}

.schedule-closed-event > * {
    padding: 1rem;
}

.schedule-closed-event__time{
    padding-top: 1.5rem;
}
